/* ==== Fonts ==== */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* ===== Common Design Start ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #3ba3fb;
  --secondary: #fbae23;
  --roboto: "Roboto", sans-serif;
  --robotoMono: "Roboto Mono", monospace;
  --darkColor: #2b2b33;
  --textColor: #222222;
  --white: #f2f2f2;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.active {
  color: var(--secondary);
}
.commonBtn {
  padding: 8px 15px;
  border: 1px solid transparent;
  outline: none;
  transition: all linear 0.3s;
  background-color: var(--white);
  color: var(--textColor);
  font-family: var(--roboto);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 8px;
}
.commonBtn:hover {
  background-color: var(--secondary);
  cursor: pointer;
}
/* ===== Common Design End ===== */
