/* ===== Copyright Design Start ===== */
.copyright {
  background-color: var(--primary);
  padding: 18px;
}
.copyright_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  font-family: var(--robotoMono);
}
.copyright_text {
  color: var(--white);
}
/* ===== Copyright Design End ===== */
