/* ==== Navbar Design Start ==== */
.navbar {
  padding: 15px 0;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.nav_links {
  color: #322;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
/* ==== Navbar Design End ==== */
