/* ==== Navbar Design Start ==== */
.navbar {
  padding: 15px 0;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.nav_links {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--roboto);
  transition: all linear 0.3s;
}
.nav_links:hover {
  color: var(--secondary);
}
/* ==== Navbar Design End ==== */
