/* ==== All Students Deisgn Start ==== */
.all_students {
  padding: 58px 0;
}
.students_heading {
  text-align: center;
  color: var(--textColor);
  font-size: 35px;
  font-weight: 700;
  line-height: 150%;
  font-family: var(--roboto);
  padding-bottom: 35px;
}
.delete_all {
  display: flex;
  justify-content: right;
  padding: 10px 0;
}
.deleteall_btn {
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  cursor: pointer;
  background-color: rgba(191, 49, 49, 0.8);
  color: var(--white);
  transition: all linear 0.3s;
}
.deleteall_btn:hover {
  background-color: #bf3131;
}
.allStudent_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 85px;
  position: relative;
}
.student_details {
  width: 370px;
  padding: 25px;
  border-radius: 4px;
  background-color: rgba(251, 175, 35, 0.45);
}
.sInfo {
  font-family: var(--roboto);
}
.student_details,
h4,
p {
  color: var(--textColor);
  line-height: 150%;
  font-family: var(--robotoMono);
  padding-bottom: 8px;
  font-size: 16px;
}
.section_info {
  padding-bottom: 10px;
}
/* ==== All Students Deisgn End ==== */
